@{
    Layout = "~/Views/Tests/PackageOfTests/_LayoutPageTests.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Level-1</title>
</head>
<body>
    <h1 align="center" style="color:green;">Test Level 1</h1>
    <br>
    <br>
    <br>

    <form id="Test3"  method="post" runat="server">
        <div class="questions">

            <div class="question1">
                <br><b>If A = {11, 7, 15, 7, 22} and B = {22, 3, 5, 7}, what is A ∪ B?</b>
                <div class="answers1">
                    <div class="answer1">
                        <input type="radio" name="question-1-answers-A" id="1-A" value="A" />
                        <label for="question-1-answers-A">{11,7,15,22,3,5}</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-1-answers-B" id="1-B" value="B" />
                        <label for="question-1-answers-B">{7}</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-1-answers-C" id="1-C" value="C" />
                        <label for="question-1-answers-C">{11,7}</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-1-answers-D" id="1-D" value="D" />
                        <label for="question-1-answers-D">{3,5}</label>
                    </div>
                </div>
            </div>


            <div class="question2">
                <br><b>If C = {1, -3, 15, 9} and D = {2, 3, 5, 1, 9}, what is A ∩ B?</b>
                <div class="answers2">
                    <div class="answer1">
                        <input type="radio" name="question-2-answers-A" id="2-A" value="A" />
                        <label for="question-2-answers-A">{1,9}</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-2-answers-B" id="2-B" value="B" />
                        <label for="question-2-answers-B">{9}</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-2-answers-C" id="2-C" value="C" />
                        <label for="question-2-answers-C">{3,1,15}</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-2-answers-D" id="2-D" value="D" />
                        <label for="question-2-answers-D">&empty;</label>
                    </div>
                </div>
            </div>


            <div class="question3">
                <br><b>A standard deviation of 0 means?</b>
                <div class="answers3">
                    <div class="answer1">
                        <input type="radio" name="question-3-answers-A" id="3-A" value="A" />
                        <label for="question-3-answers-A">All values are the same</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-3-answers-B" id="3-B" value="B" />
                        <label for="question-3-answers-B">You cannot have standard deviation zero</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-3-answers-C" id="3-C" value="C" />
                        <label for="question-3-answers-C">The variance is 1</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-3-answers-D" id="3-D" value="D" />
                        <label for="question-2-answers-D">You did the calculations wrong</label>
                    </div>
                </div>
            </div>


            <div class="question4">
                <br><b>If you have the variance, how do you get the standard deviation?</b>
                <div class="answers4">
                    <div class="answer1">
                        <input type="radio" name="question-4-answers-A" id="4-A" value="A" />
                        <label for="question-2-answers-A">Square it</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-4-answers-B" id="4-B" value="B" />
                        <label for="question-2-answers-B">Divide it by the sample size</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-4-answers-C" id="4-C" value="C" />
                        <label for="question-2-answers-C">Subtract the mean</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-4-answers-D" id="4-D" value="D" />
                        <label for="question-2-answers-D">Add the mean</label>
                    </div>
                </div>
            </div>

            <div class="question5">
                <br><b>If X = {i, k, l} and Y = {o, p, m, n}. What is X ∩ Y?</b>
                <div class="answers5">
                    <div class="answer1">
                        <input type="radio" name="question-5-answers-A" id="5-A" value="A" />
                        <label for="question-5-answers-A">&empty;</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-5-answers-B" id="5-B" value="B" />
                        <label for="question-5-answers-B">zero</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-5-answers-C" id="5-C" value="C" />
                        <label for="question-5-answers-C">1</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-5-answers" id="5-D" value="D" />
                        <label for="question-5-answers-D">{i, k}</label>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <input type="submit" onclick="validateTest();" value="submit" name="submit" class="button"/> 
        <input type="reset" value="Reset" class="button"/>
    </form>

</body>
</html>
