@{
    Layout = "~/Views/Tests/PackageOfTests/_LayoutPageTests.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Level-4</title>
</head>
<body>
    <h1 align="center" style="color:green;">Tets Level 4</h1>
    <br>
    <br>
    <br>
    <form id="Test2" method="post" runat="server">
        <div class="questions">

            <div class="question1">
                <br><b>
                    In a class of 29 children, 15 like history and 21 like math.<br> They all like at least one of the two subjects.
                    What is the probability that a child chosen at random from the class likes math but not history?
                </b>
                <div class="answers1">
                    <div class="answer1">
                        <input type="radio" name="question-1-answers-A" id="1-A" value="A" />
                        <label for="question-1-answers-A">14/29</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-1-answers-B" id="1-B" value="B" />
                        <label for="question-1-answers-B">15/29</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-1-answers-C" id="1-C" value="C" />
                        <label for="question-1-answers-C">11/29</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-1-answers-D" id="1-D" value="D" />
                        <label for="question-1-answers-D">1/3</label>
                    </div>
                </div>
            </div>

            <div class="question2">
                <br><b>What is the median of the squares of the first ten natural numbers?</b>
                <div class="answers2">
                    <div class="answer1">
                        <input type="radio" name="question-2-answers-A" id="2-A" value="A" />
                        <label for="question-2-answers-A">30.5</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-2-answers-B" id="2-B" value="B" />
                        <label for="question-2-answers-B">28.4</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-2-answers-C" id="3-C" value="C" />
                        <label for="question-2-answers-C">30</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-2-answers-D" id="4-D" value="D" />
                        <label for="question-2-answers-D">37</label>
                    </div>
                </div>
            </div>



            <div class="question3">
                <br><b>
                    Four cards are chosen from a standard deck of 52 playing cards with replacement.<br>
                    What is the probability of choosing 4 hearts in a row?
                </b>
                <div class="answers3">
                    <div class="answer1">
                        <input type="radio" name="question-3-answers-A" id="3-A" value="A" />
                        <label for="question-3-answers-A">1/256</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-3-answers-B" id="3-B" value="B" />
                        <label for="question-3-answers-B">1/12</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-3-answers-C" id="3-C" value="C" />
                        <label for="question-3-answers-C">1/52</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-3-answers-D" id="3-D" value="D" />
                        <label for="question-2-answers-D">1/512</label>
                    </div>
                </div>
            </div>


            <div class="question4">
                <br><b>
                    A basketball player is shooting free throws. Making or missing free throws doesn't change the probability that he will make his next one,<br>
                    and he makes his free throws 88% of the time.<br>
                    What is the probability making all of his next 8 free throw attempts?
                </b>
                <div class="answers4">
                    <div class="answer1">
                        <input type="radio" name="question-4-answers-A" id="4-A" value="A" />
                        <label for="question-2-answers-A">0.88<sup>8</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-4-answers-B" id="4-B" value="B" />
                        <label for="question-2-answers-B">8*(1-0.88)</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-4-answers-C" id="4-C" value="C" />
                        <label for="question-2-answers-C">8*0.88</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-4-answers-D" id="4-D" value="D" />
                        <label for="question-2-answers-D">15</label>
                    </div>
                </div>
            </div>

            <div class="question5">
                <br><b>A = { x ∈Z | x < 12},  B = { x ∈Z | x > -1}. C = {Prime numbers} What is Standard Deviation of A ∩ B ∩ C?</b>
                <div class="answers5">
                    <div class="answer1">
                        <input type="radio" name="question-5-answers-A" id="5-A" value="A" />
                        <label for="question-5-answers-A">3.2</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-5-answers-B" id="5-B" value="B" />
                        <label for="question-5-answers-B">&empty; Because there are no prime numbers with negative values</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-5-answers-C" id="5-C" value="C" />
                        <label for="question-5-answers-C">Undefined</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-5-answers-D" id="5-D" value="D" />
                        <label for="question-5-answers-D">None of them</label>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <input type="submit" onclick="validateTest();" value="submit" name="submit" class="button"/> 
        <input type="reset" value="Reset" class="button"/>
    </form>
</body>
</html>
