@{
    Layout = "~/Views/Tests/PackageOfTests/_LayoutPageTests.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Level-4</title>
</head>
<body>
    <h1 align="center" style="color:green;">Test Level 4</h1>
    <br>
    <br>
    <br>
    <form id="Test1" method="post" runat="server">
        <div class="questions">

            <div class="question1">
                <br><b>What extra number must be included with the following list of numbers to decrease the median by 3?<br>24, 14, 18, 28, 3, 9</br></b>
                <div class="answers1">
                    <div class="answer1">
                        <input type="radio" name="question-1-answers-A" id="1-A" value="A" />
                        <label for="question-1-answers-A">There is no such number</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-1-answers-B" id="1-B" value="B" />
                        <label for="question-1-answers-B">17</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-1-answers-C" id="1-C" value="C" />
                        <label for="question-1-answers-C">20</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-1-answers-D" id="1-D" value="D" />
                        <label for="question-1-answers-D">13</label>
                    </div>
                </div>
            </div>

            <div class="question2">
                <br><b>
                    A jar contains 6 red balls, 3 green balls, 5 white balls and 7 yellow balls. Two balls are chosen from the jar, with replacement.<br>
                    What is the probability that both balls chosen are green?
                </b>
                <div class="answers2">
                    <div class="answer1">
                        <input type="radio" name="question-2-answers-A" id="2-A" value="A" />
                        <label for="question-2-answers-A">1/49</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-2-answers-B" id="2-B" value="B" />
                        <label for="question-2-answers-B">3/21</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-2-answers-C" id="3-C" value="C" />
                        <label for="question-2-answers-C">7/21</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-2-answers-D" id="4-D" value="D" />
                        <label for="question-2-answers-D">10/21</label>
                    </div>
                </div>
            </div>


            <div class="question3">
                <br><b>
                    At the Math exam, the mean mark scored by the 30 students in Form A was 55% and the mean mark scored by the 25 students in Form B was 44%.<br>
                    What was the mean mark of all the students?
                </b>
                <div class="answers3">
                    <div class="answer1">
                        <input type="radio" name="question-3-answers-A" id="3-A" value="A" />
                        <label for="question-3-answers-A">0.5</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-3-answers-B" id="3-B" value="B" />
                        <label for="question-3-answers-B">0.47</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-3-answers-C" id="3-C" value="C" />
                        <label for="question-3-answers-C">0.3</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-3-answers-D" id="3-D" value="D" />
                        <label for="question-2-answers-D">0.52</label>
                    </div>
                </div>
            </div>


            <div class="question4">
                <br><b>
                    The die has 8 equal faces marked with the numbers 1 to 8.<br>
                    If the die is thrown once, what is the probability that the face that lands uppermost has a prime number?</br>
                </b>
                <div class="answers4">
                    <div class="answer1">
                        <input type="radio" name="question-4-answers-A" id="4-A" value="A" />
                        <label for="question-2-answers-A">0.5</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-4-answers-B" id="4-B" value="B" />
                        <label for="question-2-answers-B">0.25</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-4-answers-C" id="4-C" value="C" />
                        <label for="question-2-answers-C">0.4</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-4-answers-D" id="4-D" value="D" />
                        <label for="question-2-answers-D">None of them</label>
                    </div>
                </div>
            </div>

            <div class="question5">
                <br><b>
                    If
                    P = The set of whole numbers less than 5, <br>
                    Q = The set of even numbers greater than 3 but less than 9, <br>
                    R = The set of factors of 6. <br>
                    Then what is (P ∪ Q) ∩ (Q ∪ R)?</br>
                </b>
                <div class="answers5">
                    <div class="answer1">
                        <input type="radio" name="question-5-answers-A" id="5-A" value="A" />
                        <label for="question-5-answers-A">{1,2,3,4,6,8}</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-5-answers-B" id="5-B" value="B" />
                        <label for="question-5-answers-B">{1,2,4,8}</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-5-answers-C" id="5-C" value="C" />
                        <label for="question-5-answers-C">Undefined</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-5-answers-D" id="5-D" value="D" />
                        <label for="question-5-answers-D">None of them</label>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <input type="submit" onclick="validateTest();" value="submit" name="submit" class="button"/> 
        <input type="reset" value="Reset" class="button" />
    </form>
</body>
</html>
