@{
    Layout = "~/Views/Tests/PackageOfTests/_LayoutPageTests.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Level-3</title>
</head>
<body>
    <h1 align="center" style="color:green;">Test Level 3</h1>
    <br>
    <br>
    <br>
    <form id="Test2" method="post" runat="server">
        <div class="questions">

            <div class="question1">
                <br><b>If P(A)= 2.2*P(A').What is the value of P(A') and P(A)? </b>
                <div class="answers1">
                    <div class="answer1">
                        <input type="radio" name="question-1-answers-A" id="1-A" value="A" />
                        <label for="question-1-answers-A">0.69, 0.31</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-1-answers-B" id="1-B" value="B" />
                        <label for="question-1-answers-B">0.5, 0.3</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-1-answers-C" id="1-C" value="C" />
                        <label for="question-1-answers-C">0.22, 0.78</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-1-answers-D" id="1-D" value="D" />
                        <label for="question-1-answers-D">0.75, 0.25</label>
                    </div>
                </div>
            </div>


            <div class="question2">
                <br><b>
                    Average value and median seven numbers is 8. Five of them are 2,5,10,11,14
                    find the other two
                </b>
                <div class="answers2">
                    <div class="answer1">
                        <input type="radio" name="question-2-answers-A" id="2-A" value="A" />
                        <label for="question-2-answers-A">6, 8</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-2-answers-B" id="2-B" value="B" />
                        <label for="question-2-answers-B">5, 9</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-2-answers-C" id="3-C" value="C" />
                        <label for="question-2-answers-C">3, 7</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-2-answers-D" id="4-D" value="D" />
                        <label for="question-2-answers-D">1, 10</label>
                    </div>
                </div>
            </div>


            <div class="question3">
                <br><b>Six consecutive even numbers have an average of 15. Find the median</b>
                <div class="answers3">
                    <div class="answer1">
                        <input type="radio" name="question-3-answers-A" id="3-A" value="A" />
                        <label for="question-3-answers-A">15</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-3-answers-B" id="3-B" value="B" />
                        <label for="question-3-answers-B">5</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-3-answers-C" id="3-C" value="C" />
                        <label for="question-3-answers-C">10</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-3-answers-D" id="3-D" value="D" />
                        <label for="question-2-answers-D">12</label>
                    </div>
                </div>
            </div>


            <div class="question4">
                <br><b>
                    The mean age of 18 boys and 12 girls is 15.4 years. If the average age of
                    boys are 15.8 years old, find the mean age of girls.
                </b>
                <div class="answers4">
                    <div class="answer1">
                        <input type="radio" name="question-4-answers-A" id="4-A" value="A" />
                        <label for="question-2-answers-A">14.8</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-4-answers-B" id="4-B" value="B" />
                        <label for="question-2-answers-B">14.2</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-4-answers-C" id="4-C" value="C" />
                        <label for="question-2-answers-C">15.2</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-4-answers-D" id="4-D" value="D" />
                        <label for="question-2-answers-D">15</label>
                    </div>
                </div>
            </div>

            <div class="question5">
                <br><b>A = { x ∈Z | x < 1},  B = { x ∈Z | x > 3}. What is A ∩ B?</b>
                <div class="answers5">
                    <div class="answer1">
                        <input type="radio" name="question-5-answers-A" id="5-A" value="A" />
                        <label for="question-5-answers-A">&empty;</label>
                    </div>
                    <div class="answer2">
                        <input type="radio" name="question-5-answers-B" id="5-B" value="B" />
                        <label for="question-5-answers-B">x > 1</label>
                    </div>
                    <div class="answer3">
                        <input type="radio" name="question-5-answers-C" id="5-C" value="C" />
                        <label for="question-5-answers-C">x > 3</label>
                    </div>
                    <div class="answer4">
                        <input type="radio" name="question-5-answers-D" id="5-D" value="D" />
                        <label for="question-5-answers-D">x < 3</label>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <input type="submit" onclick="validateTest();" value="submit" name="submit" class="button"/> 
        <input type="reset" value="Reset" class="button" />
    </form>
</body>
</html>
